html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Roboto Mono', monospace;
}

header {
    z-index: 2;
    position: relative;
    height: 4rem;
    padding: 10px 20px;
    /*border-bottom: 2px solid #8dc63f;*/
    border-bottom: 1px solid;
    box-sizing: border-box;
}

h1.title {
    margin: 0 1rem 0 0;
    display: inline-block;
}

.buttons {
    display: inline-block;
}

a {
    text-decoration: none;
}

main {
    overflow: hidden;
    height: calc(100% - 4rem);
    display: flex;
    flex-direction: row;
}

aside.options-menu {
    padding: 0.5rem;
    width: 11%;
    height: 100%;
    background-color: aliceblue;
}

article.config {
    margin: 0.25rem 0;
    padding-bottom: 0.5rem;
    border-bottom: 1px black solid;
}

article.config input[type='number'] {
    width: 3rem;
}

.staging {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.input {
    display: flex;
    align-items: stretch;
    width: 40%;
    height: 100%;
    overflow: auto;
    /*border-left: 2px solid #8dc63f;*/
}

#input {
    background-color: #333;
    color: #fff;
    font-size: inherit;
}


.output {
    display: flex;
    align-items: stretch;
    width: 60%;
    height: 100%;
    border-left: 2px solid #D4d4d4;
    overflow: auto;
    /*position: absolute;*/
    /*border-left: 2px solid #8dc63f;*/
    /*color: #fff;*/
    /*background-color: #333;*/
    /*background-color: #Efffff;*/
}

.output::-webkit-scrollbar {
    direction: rtl;
}


/*#output2 {*/
/*    overflow-y: auto*/
/*}*/


textarea {
    width: 100%;
    padding: 20px;
    border: 0;
    box-sizing: border-box;
    font-size: 1.3em;
    resize: none;
    outline: none;
    line-height: 1.3;
    font-family: 'Roboto Mono', monospace;
}

.error {
    width: 100%;
    padding: 20px;
    border: 4px solid salmon;
    background: rgb(255, 237, 230);
}
